{# generic search form to be included in a template #}
<div class="">
    <form method="get"
          action="{{ paths.root }}search"
          id="searchform"
          enctype="text/plain">
        <fieldset>
            <label for="search">Site Search
                <input type="search"
                       value="{% if search is defined %}{{ search|escape }}{% endif %}"
                       placeholder="{{ __("Search…") }}"
                       name="search">
            </label>
            <button class="" type="submit">Submit</button>
        </fieldset>
    </form>
</div>